<div id="login" class="container-fluid">
	<div class="large-6 large-offset-3">
		<form>
			<fieldset class="radius">
				<div class="row">
					<div class="large-6 columns">
						<input type="text" name="username" placeholder="Username" class="form-control" ng-model="credentials.username" required />
					</div>
					<div class="large-6 columns">
						<input type="password" name="password" placeholder="Password" class="form-control" ng-model="credentials.password" required />
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<button type="submit" class="button large-12 expand radius"><i class="fa fa-lg fa-user"></i> Log In</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>